</head>
<body>
  <nav>
    <a 
      href="/flights/new" class=<%= title === 'Add Flight' ? 'active' : '' %>
    >
      ADD FLIGHT
    </a>
    <a 
      href="/flights/INDEX" class=<%= title === 'ALL Flights' ? 'active' : '' %>
    >
      ALL FLIGHTS
    </a>
  </nav>